<div class='row'>
    <div class='col-6'>
        <app-dognhut-chart [legend]='charts.grafico1.leyenda' [labels]='charts.grafico1.labels' [data]='charts.grafico1.data' [type]='charts.grafico1.type'></app-dognhut-chart>
    </div>
    <div class='col-6'>
        <app-dognhut-chart [legend]='charts.grafico2.leyenda' [labels]='charts.grafico2.labels' [data]='charts.grafico2.data' [type]='charts.grafico2.type'></app-dognhut-chart>
    </div>
    <div class='col-6'>
        <app-dognhut-chart [legend]='charts.grafico3.leyenda' [labels]='charts.grafico3.labels' [data]='charts.grafico3.data' [type]='charts.grafico3.type'></app-dognhut-chart>
    </div>
    <div class='col-6'>
        <app-dognhut-chart [legend]='charts.grafico4.leyenda' [labels]='charts.grafico4.labels' [data]='charts.grafico4.data' [type]='charts.grafico4.type'></app-dognhut-chart>
    </div>
</div>