<div class='row'>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <form *ngIf="form" ngNativeValidate [formGroup]='form' class="form p-t-20" (ngSubmit)=saveChanges()>
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName='name' name='name' type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input formControlName='email' disabled='user.google' name='email' type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class='fa fa-save'></i>
                      Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align='center'>
                <h4 class="card-title">USER IMG</h4>

                <img *ngIf="!temporalImage" [src]="user.img | imgPipe" alt="" class='w150'>
                <img *ngIf="temporalImage" [src]="temporalImage | imgPipe" alt="" class='w150'>
                <br>
                <br>
                <input (change)='selectImg($event.target.files[0])' type="file">
                <br>
                <br>
                <br>
                <button (click)='changeImg()' [disabled]='!imgUpload' type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                      <i class='fa fa-save'></i>
                      Update photo</button>
            </div>
        </div>
    </div>
</div>